<p id="notice"><%= notice %></p>

<div class="container">
  <p>
    <strong>Titre:</strong>
    <%= @article.title %>
  </p>

  <p>
    <strong>Contenu:</strong>
    <%= @article.rich_body %>
  </p>

  <%= cl_image_tag @article.photo if @article.photo.attached? %>
  <%= cl_image_tag @article.photo %>

  <%= link_to 'Modifier', edit_article_path(@article) %> |
  <%= link_to 'Retour', root_path %>
</div>
