<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/1903970/pexels-photo-1903970.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);">
    <h1>Make Plants Great Again !</h1>
    <div class="button">
      <%= link_to "Create your Garden", new_garden_path %>
    </div>
</div>
<div class="container">
  <h2 class="text-center mt-3">Comment ça marche ?</h2>
  <div class="info">
    <div class="bloc">
      <%= image_tag "green.svg"%>
      <h4>Créer ton jardin</h4>
      <p>Manage et compose ton jardin virtuel</p>
    </div>
    <div class="bloc">
      <img src="images/cactus.svg" alt="">
      <%= image_tag "cactus.svg"%>
      <h4>Ajoute tes plantes</h4>
      <p>Donne un petit nom à tes plantes</p>
    </div>
    <div class="bloc">
      <%= image_tag "mario.svg"%>
      <h4>Sauve tes plantes de la soif</h4>
      <p>Reçois des notifications pour garder en vie tes plantes</p>
    </div>
  </div>
</div>
<div class="cards">
  <h2>Découvrez de nouvelles plantes</h2>
  <% @plants.take(6).each do |plant| %>
  <div class="card" style="">
    <h3><%= link_to plant.science_name, plant_path(plant) %> </h3>
    <% if plant.photo.attached? %>
    <%#=  cl_image_tag plant.photo.key %>
    <div style="background-image: url('<%= plant.photo.key %>');"></div>
    <% end %>
  </div>
  <% end %>
</div>
