<h1><%= @plant.science_name %></h1>

<h2>La vie de <%= @plant.nickname %></h2>
<p><strong>Origine</strong> <%= @plant.origin %></p>
<p><strong>Type</strong> <%= @plant.genre %></p>
<p><strong>Histoire</strong> <%= @plant.story %></p>
<p><strong>Conseils</strong> <%= @plant.advice %></p>


